<!doctype html>
<html lang="en" class="h-100">
<head>
	<title>Knowledge Graph Generator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link th:href="@{/assets/custom/css/cover.css}" rel="stylesheet">
	<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="mb-auto">
			<div>
				<nav class="nav nav-masthead justify-content-center float-md-end">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
					<a class="nav-link" href="https://github.com/kyriakos-katsigarakis/openmetrics/tree/master/openmetrics-kgg/examples">Examples</a>
					<a class="nav-link" href="https://github.com/kyriakos-katsigarakis/openmetrics">GitHub</a>
				</nav>
			</div>
		</header>
		<main class="px-3" style="margin-bottom:200px;">
			<h1>Knowledge Graph Generator</h1>
			<p class="lead">Convert IFC data to RDF triples applying the ontologies <br/>
				<a class="link-info text-decoration-none" href="https://brickschema.org/ontology" target="_blank">BRICK</a>, 
				<a class="link-info text-decoration-none" href="https://w3c-lbd-cg.github.io/bot/" target="_blank">BOT</a>, 
				<a class="link-info text-decoration-none" href="https://pi.pauwel.be/voc/buildingelement/index-en.html" target="_blank">BEO</a> and 
				<a class="link-info text-decoration-none" href="#">PROPS</a>.
			</p>
			<p class="text-secondary"><small>This version supports the <a class="link-secondary text-decoration-none" href="https://standards.buildingsmart.org/IFC/RELEASE/IFC4/ADD2_TC1/HTML/" target="_blank">IFC4</a> specification</small></p>
			<form th:id="form-upload" th:action="@{'/upload'}">
				<p class="lead">
					<input type="file" title=" " class="form-control" id="file" name="file"/>
				</p>
				<div class="d-flex justify-content-center">
					<div id="loading" style="display:none;"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div>
					<button id="btn-download" type="button" class="btn btn-success" style="display:none;"><i class="fa fa-download"></i> TTL</button>
				</div>
			</form>
		</main>
		<footer class="mt-auto text-white-100">
			<p class="text-secondary"><small>Version 0.2.0</small></p>
		</footer>
	</div>
	<script th:src="@{/assets/dist/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/assets/custom/js/custom.js}"></script>
</body>
</html>